.button {
	-fx-background-radius: 20.0;
	-fx-background-color: #54f761;
	-fx-text-fill: black;
}

.button:hover {
	-fx-background-color: #1ab009;
}
#BackButton{
	-fx-background-radius: 30.0;
	-fx-background-radius: 20;
	-fx-background-color: #54f761;
	-fx-text-fill: black;
}
#BackButton{
	-fx-background-radius: 30;
}
#btnLogout{
	-fx-background-color: RED;	
}
#btnLogout:hover {
	-fx-background-color: #cc2323;	
}
#btnLogout{
	-fx-background-color: RED;	
}
#cancelBtn{
	-fx-background-color: RED;
}
#cancelBtn:hover{
	-fx-background-color: #cc2323;	
}
#btnLogout:hover {
	-fx-background-color: #cc2323;	
}
#btnCancelOfDiscount{
	-fx-background-color: RED;	
}
#btnCancelOfMaxVisitors{
	-fx-background-color: RED;	
}
#btnCancelOfMaxHours {
	-fx-background-color: RED;	
}
#btnCancelGapForVisitors {
	-fx-background-color: RED;	
}
#LogOutBtn{
	-fx-background-color: RED;
}
#waitingListBtn {
	-fx-background-color:  lightblue
}
#waitingListTourBtn{
	-fx-background-color:  lightblue
}
#btnCancelOfDiscount:hover {
	-fx-background-color: #cc2323;	
}
#btnCancelOfMaxVisitors:hover {
	-fx-background-color: #cc2323;	
}
#btnCancelOfMaxHours:hover {
	-fx-background-color: #cc2323;	
}
#btnCancelGapForVisitors:hover {
	-fx-background-color: #cc2323;	
}
#waitingListBtn:hover {
	-fx-background-color:  #2975a7
}
#waitingListTourBtn:hover{
	-fx-background-color:  #2975a7
}
#LogOutBtn:hover{
	-fx-background-color: #cc2323;
}