.button {
	-fx-background-radius: 20.0;
	-fx-background-color: #54f761;
	-fx-text-fill: black;
}

.button:hover {
	-fx-background-color: #1ab009;
}

#BackButton{
	-fx-background-radius: 30.0;
	-fx-background-radius: 20;
	-fx-background-color: #54f761;
	-fx-text-fill: black;
}
#BackButton{
	-fx-background-radius: 30;
}
#btnLogout{
	-fx-background-color: RED;	
}
#btnLogout:hover {
	-fx-background-color: #cc2323;	
}
.button:hover {
	-fx-background-color: #1ab009;
}